body{
    background-image: url(img/bg-2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.head{
    text-align: center;
    font-size: 50px;
}
.body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    height: auto;
    width: 80%;
    

}
a{
    text-decoration: none;
    color: #12217b;
    
}

.coming{
    text-align: center;
    font-size: 50px;
}


