
body{
    background-color: #80abdc;
}

.head{
    text-align: center;
}
.body{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    width: 80%;
    

}
a{
    text-decoration: none;
    color: black;
}

.coming{
    text-align: center;
}
